@*@model GreatTradePreguntas.Models.Question*@
@model IEnumerable<GreatTradePreguntas.Models.Question>

<link rel="stylesheet" href="~/css/site.css" />

<div id="container">
    
    @await Html.PartialAsync("~/Views/Questions/MakeQuestions.cshtml", new GreatTradePreguntas.Models.Question())
    
    

   
    <div class="containerQuestions">
        <div id="titleQuestion">Preguntas de otros vendedores</div>

        @foreach (var item in Model)
        {
            <label id="question">@Html.DisplayFor(modelItem => item.Pregunta)</label>
            <br />
            <input type="checkbox" checked />
            <label id="answer">@Html.DisplayFor(modelItem => item.Answer)</label>
            <br />
        }
    </div>
</div>


