@*@model IEnumerable<GreatTradePreguntas.Models.Question>*@
@model GreatTradePreguntas.Models.Question
<link rel="stylesheet" href="~/css/site.css" />
<h1 id="question_title"<center>Preguntas</center></h1>

<form asp-action="MakeQuestions">
    @*@Html.AntiForgeryToken()*@
    <label asp-for="Pregunta" id="makeQuestion">Realiza tu pregunta al vendedor</label>
    @*@Html.LabelFor(model => model.Pregunta)*@
    <br />
    @*@Html.EditorFor(model => model.Pregunta)*@

    <input asp-for="Pregunta" id="inpQuestion" value=" " />

    <input type="submit" value="Enviar" class="btn btn-default" />
</form>



